html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas {
    margin: 0;
    padding: 0;
}

#controls {
    margin: 10px;
    text-align: center;
    float: left;
    width: 240px;
}

#controls button {
    margin: 2px;
    display: block;
}