html, body, #map-canvas {
    font-family: Verdana, Arial;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*http://www.colourlovers.com/palette/24741/a_cold_day*/
h2, h3 {
    color: #6EA9C3;
}

#map-canvas {
    margin: 0;
    padding: 0;
}

#controls {
    margin: 10px;
    text-align: center;
    float: left;
    width: 300px;
}

.checkboxes {
    margin-left: 10px;
    text-align: left;
}

.cb {
    margin: 2px;
    display: block;
}

.cb label {
    color: #2B688E;
    cursor: pointer;
}

.cb img {
    margin: 2px 0px;
}

.attrs-key {
    color: #B8D2DD;
    text-align: right;
    font-weight: bold;
    padding-right: 7px;
}

.attrs-value {
    color: #2B688E;
    border-left: 1px solid #eee;
    padding-left: 7px;
    text-align: left;
}

.logos_top {
    margin-bottom: 10px;
    border-bottom: 1px gray solid;
}

.logos_bottom {
    width: 300px;
    position: absolute;
    bottom: 0;
    padding-top: 5px;
    margin-bottom: 10px;
    border-top: 1px gray solid;
}

.search_control {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
